



           
      /*header*/  

header{ 
    background-color: #696969;

}

     /*h1*/

h1{ 
    color: whitesmoke;
    text-decoration: none;
    font-family:;
}
    /*h2*/
 
h2 { 
    color: black;
}

/*body*/


body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #fffaf0;

}
           /*menu*/

    #menu li > a { 
        font-size: 18px;
        font-weight: bold;
        color: black;
        text-decoration: underline;
    } 


    #menu form > button {
        font-size: 18px;
        font-weight: bold;
     }
       /*carrusel*/
       
     .carousel-inner{
        max: height 25rem; ; 

     }


     main.contacto {
        text-align: center;
        margin: 20px;
        font-weight: bold;
    }
    main.reservas {
        text-align: center;
        margin: 20px;
        font-weight: bold;
        
    } 
    
    
          /*icono*/
    

#iconos {
    text-align: center;
    justify-content: center;

    
}

    i { 
        font-size: 25px;
        padding: 0 8px; 
        color: black;   
       
    
    }  

                  

.formulario { 
    width: 50%;
}


.avatr {
    display: flex;
    justify-content: center;
    align-items: center;
}


           /*footer*/

footer{ 
    background-color: #696969;
    min-height: 200px;
    justify-content: center;
    flex-direction: column;
    display: flex;
}


footer p {
    color: black;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
}
    






















                /*MEDIA QUERIES PANTALLA SM*/


                @media (max-width:768px)     {

                    #intro {
                        width:90% !important ;
                    }
                }     